.Product-Info{
    padding: 1rem;
}
.brand-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
      font-size: 1.2rem;
    color: rgb(168, 164, 164);
}
.brand-name .product-icon svg{
   margin-right: 1rem;
}
.product-title{
    margin-top: 1rem;
    line-height: 1.5rem;
}
.product-title h3{
    margin-top: .5rem;
    color: rgb(173, 168, 168);
}
.product-price{
    margin: 2rem 0;
}
.product-status{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.product-status .product-star{
    font-size: 1.5rem;
    color: rgb(143, 141, 141);
    display: flex;
    align-items: center;
}
.product-status .product-inventory{
    font-size: 1.3rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    color: green;
}
.product-status .product-inventory svg{
    margin-left: .5rem;
}
.product-price .price{
    margin-top: 1rem;
    color: red;
    font-size: 1.6rem;
    font-weight: 700;
}
.product-Attributes li{
    margin-top: 1rem;
    display: flex;
}
.product-Attributes li span{
    padding-left: .5rem;
    color: rgb(168, 164, 164);
}
.color-circle{
    display: flex;
}
.product-color{
    margin-top: 2rem;
}
.color-circle div{
    margin-top: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 1rem;
}
.product-garranty{
    margin-top: 1.5rem;
}
.product-garranty div{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    padding: 1rem 2rem;
    border: 1px solid rgb(136, 135, 135 , .4);
    border-radius: .5rem;
}
.product-garranty div:hover{
    border-color: #B91C1C;
    cursor: pointer;
}
.product-garranty div span{
    margin-top: .5rem;
   color: rgb(170, 167, 167);
}
.add-btn button{
    margin-top: 2rem;
    padding: 1rem 5rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    border: none;
    background-color: #B91C1C;
    color: white;
}

/* Product Tips Component style */

.Product-Tips{
    padding: 1rem;
}
.Product-Tips .tip{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: .8rem;
    background-color: rgb(236, 235, 235);
    border-radius: .2rem;
    color: rgb(107, 105, 105);
}
.Product-Tips .tip svg{
    color: red;
    font-size: 1.5rem;
    padding-left: .5rem;
}

/* slider styles */
.Slide-Preview{
    padding: 1rem;
}
.slider-bottom{
    margin-top: 2rem;
}
.preview-item{
    border: 1px solid rgb(136, 135, 135 , .4);
    border-radius: .2rem;
    transition: border .2s ease;
}
.preview-item:hover{
    border-color: rgb(43, 43, 247);
}