.product-list .product-orderby .orderby {
    align-items: center;
}

.product-list .product-orderby .orderby svg {
    font-size: 20px;
    margin-left: 10px;
}

.product-list .product-orderby .orderby .orderby-item {
    font-size: 12px;
}

.product-list .product-orderby .orderby .orderby-item span.active {
    --tw-text-opacity: 1;
    color: rgb(225 10 10/var(--tw-text-opacity));
}

.product-list .product-orderby .orderby .orderby-item span.active:hover {
    --tw-text-opacity: 1;
    color: rgb(225 10 10/var(--tw-text-opacity));
}

.product-list .product-orderby .orderby .orderby-item span:hover {
    color: #31373e;
}

.product-count {
    font-weight: 600;
    font-size: 14px;
}

.product-list .product-item {
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.product-list .product-item .item-top {
    text-align: -webkit-center;
}

.product-list .product-item .item-top .item-img {
    width: 171px;
    height: 171px;
}

.product {
    border-radius: 4px;
    text-align: -webkit-center;
}

.product-list .product-item .item-top .item-title {
    font-weight: 500;
    font-size: 14px;
    padding-left: 0 10px 0 10px;
    line-height: 22px;
}


.product-list .product-item .item-top .color {
    width: 10px;
    height: 10px;
    border-radius: 999px;
    border-radius: 5px;
}


.product-item .item-price {
    font-weight: 700;
    font-size: 20px;
    place-content: flex-end;
}

.product-item .item-price span {
    font-size: 11px;
    align-self: center;
}

.product-item:hover {
    --tw-shadow: 0 2px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
nav.MuiPagination-root.MuiPagination-text.css-1oj2twp-MuiPagination-root{
    direction: ltr;
    justify-content: center;
}