.Header-top img {
  max-width: 100%;
}

/*Navbar styles*/
.navbar {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  width: 100%;
  position:sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

.navbar i {
  font-weight: bold;
  font-size: 1.4rem;
}


/* Navbar Right Styles*/
.navbar-right .navbar-list {
  display: flex;
  align-items: center;

}

.navbar-logo {
  padding-left: 1rem;
}

.navbar-item {
  display: flex;
  align-items: center;
  margin: 1rem;
  color: gray;
  transition: all .5 ease-in-out;
}

.navbar-item:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.navbar-item i {
  margin-left: .5rem;
}


/* Navbar Left Styles*/
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-search {
  position: relative;
}

.navbar-search input {
  padding: 1rem;
  padding-right: 4rem;
  font-size: 1rem;
  background-color: #F6F5F5;
  border: none;
  border-radius: 1rem;
  transition: all .5s;
}

.search-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: .5;
}

.navbar-left div {
  margin: 1rem;
}

.navbar-login {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.navbar-login i {
  margin-left: .5rem;
}

.navbar-icons {
  position: relative;
}

.navbar-icons i {
  color: var(--primary-color);
  margin-left: 1.5rem;
}

/* Cart Component styles */

.cart {
  position: absolute;
  left: -1rem;
  z-index: 999;
  width: 300px;
  height: 250px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  visibility: hidden;
  transition: all .2s ease-in-out;
  opacity: .5;
}
.cart.active{
  visibility: visible;
  opacity: 1;
}

.cart-header {
  text-align: left;
  border-bottom: 1px solid;
  width: 100%;
  padding-bottom: .5rem;
  color: rgb(55, 55, 241);
}

.cart-header h3 {
  margin-left: .5rem;
  font-size: .7rem;
}

.cart-content .empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-content .empty-cart img {
  width: 50%;
}

.cart-content .empty-cart h3 {
  font-size: 1rem;
  margin-top: 2rem;
  opacity: .5;
}

/* Categories Component Styles */

.categorie{
  position: absolute;
  top: 4.5rem;
  width: 60%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: .5rem;
  visibility: hidden;
  transition: all .2s ease-in-out;
  opacity: .5;
}
.categorie.active {
  visibility: visible;
  opacity: 1;
}
.categorie-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.categorie-title{
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.categorie-title h3{
  color: black;
  font-size: 1.2rem;
}
.categorie-title h3:hover{
   color: red;
}
.categorie-tag{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.categorie-tag .tag-name{
  margin: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  background-color: rgb(211, 202, 202);
  color: white;
}