.slider-item {
    flex-shrink: 0;
    border-radius: 28px;
    transition-property: transform;
}

.slider-item .item {
    padding-left: 12px;
    padding-right: 12px;
    --tw-bg-opacity: 1;
    background-color: #131a1e;
    border-radius: 28px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 225px;
    height: 410px;
}

.swiper-slide {
    background: #ffe4c400;
}

.slider-item .item .item-hover {
    border-radius: 28px;
    width: 266px;
    height: 410px;
}

.slider-item .item .item-list {
    border-radius: 28px;
    flex-direction: column;
}

.slider-item .item .item-list .image {
    border-radius: 16px;
    width: 198px;
    height: 219px;
}

.slider-item .item .item-list .image div {
    border-radius: 16px;
}

.slider-item .item .item-list .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 37px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
}

.slider-item .item .item-list .slider-footer {
    margin-top: 36px;
    margin-left: 13px;
}

.slider-item .item .item-list .slider-footer .offer {
    font-weight: 700;
    font-size: 12px;
    border-radius: 90px;
    min-width: 39px;
    min-height: 30px;
    align-items: center;
    width: max-content;
}

.slider-item .item .item-list .slider-footer .price {
    align-items: flex-end;
    flex-direction: column;
    justify-content: end;
    height: 50px;
}

.golden-offer .golden-slider .slider-item .item .item-list .slider-footer .price .offer-price {
    font-size: 13px;
}

.slider-item .item .item-list .slider-footer .price div.text-red-primary {
    font-weight: 700;
}

.slider-item .item:hover .item-hover {
    height: 321px;
}

.slider-item .item:hover .image div.w-100.h-100 {
    margin-top: -10px;
}

.slider-item .item .shadow-product {
    background: radial-gradient(50% 50% at 50% 50%, #000 0, transparent 100%);
    opacity: .4;
    filter: blur(4px);
    border-radius: 20px;
    transition-duration: .5s;
    width: 180px;
}

.slider-item .item:hover .shadow-product {
    height: 8px;
    margin-top: 8px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align-last: center;
    bottom: -2px;
}

.popular-mobiles .swiper-slide {
    width: 248px !important;
    margin-left: 40px !important;
}