.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  width: 248px !important;
  margin-left: 40px !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  text-align: inherit;
  right: 1%;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e10a0a;
}

.golden-slider span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
}
